@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #ffb388;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --h1-title: #21243D;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-left: 5.5em;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #15181F;
    --sidebar-color: #1e222b;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --h1-title: #fff;
}

/* ===== line progress scrollY ===== */
.lineProgress {
    z-index: 111;
    left: 0;
    height: 3px;
    background-color: var(--primary-color);
    position: fixed;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 25%);
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 3px 0px 10px rgb(0 0 0 / 10%);
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    align-items: unset;
    justify-content: center;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: 3px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    text-align: center;
    line-height: 1.2;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: var(--tran-03);
    outline: none;
}

.click.clk {
    background-color: var(--primary-color);
    border-radius: 6px;
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

/* ===== section-home ===== */
#home {
    width: min(1170px, 90%);
    height: 763px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    align-items: center;
    justify-content: space-around;
    font-size: clamp(15px, 3.5vw, 20px);
    padding-top: 1em;
}

.home-text,
.home-image {
    width: 500px;
}

.home-image img {
    width: 100%;
}

/* heading-animation */
.heading {
    position: relative;
}

.heading::before,
.heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1.5px;
    height: 55.2px;
    background-color: var(--body-color);
    z-index: 11;
}

.heading::after {
    left: 84%;
    width: 4px;
    top: 0;
    background-color: var(--body-color);
}

#home .home-text .heading h1 {
    font-size: clamp(27px, 3.5vw, 44px);
    color: var(--h1-title);
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    position: relative;
    width: fit-content;
}

#home .home-text .heading h1::before,
#home .home-text .heading h1::after {
    content: "";
    position: absolute;
    inset: 0;
}

#home .home-text .heading .headingOne::before {
    background-color: var(--body-color);
    animation: textOne 6s steps(16) forwards;
    -webkit-animation: textOne 6s steps(16) forwards;
}

#home .home-text .heading .headingOne::after {
    width: 2px;
    background-color: var(--h1-title);
    animation:
        textOne 6s steps(16) forwards,
        caret 500ms steps(16) forwards;
    -webkit-animation:
        textOne 6s steps(16) forwards,
        caret 500ms steps(16) infinite;
}

#home .home-text .heading .headingTwo::before {
    background-color: var(--body-color);
    animation: textTwo 6s steps(14) 6s forwards;
    -webkit-animation: textTwo 6s steps(14) 6s forwards;
}

#home .home-text .heading .headingTwo::after {
    width: 2px;
    background-color: var(--h1-title);
    animation:
        textTwo 6s steps(14) 6s forwards,
        caret2 500ms steps(14) infinite;
    -webkit-animation:
        textTwo 6s steps(14) 6s forwards,
        caret2 500ms steps(14) 6s infinite;
}

@keyframes textOne {
    to {
        left: 100%;
    }
}

@keyframes textTwo {
    to {
        left: 100%;
    }
}

@keyframes caret {
    to {
        background-color: transparent;
    }
}

@keyframes caret2 {
    to {
        background-color: transparent;
    }
}

#home .home-text p {
    margin-right: 38%;
    color: var(--text-color);
    transform: translateY(3em);
    -webkit-transform: translateY(3em);
    -moz-transform: translateY(3em);
    -ms-transform: translateY(3em);
    -o-transform: translateY(3em);
    opacity: 0;
    animation: textTop 2s ease 10s forwards;
    -webkit-animation: textTop 2s ease 12s forwards;
}

@keyframes textTop {
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/* ===== section-about ===== */
#about {
    width: min(1170px, 90%);
    height: 763px;
    margin: 0 auto;
    padding-top: 2em;
}

.title {
    text-align: center;
    color: var(--h1-title);
    font-size: 48px;
    position: relative;
    -webkit-text-stroke: 2px var(--primary-color);
}

.about-container {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 43%);
    justify-content: space-between;
    align-items: center;
}

.about-image img {
    width: 100%;
}

.about-text {
    background-color: var(--sidebar-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
    font-size: clamp(16px, 5vw, 34px);
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.5;
}

.about-text span {
    color: var(--h1-title);
    font-size: 36px;
}

.about-text img {
    width: 40px;
}

button {
    text-align: start;
    background-color: transparent;
    border: 0;
    outline: 0;
}

button:focus {
    box-shadow: 0 0 0 10px var(--body-color), 0 0 0 15px var(--sidebar-color);
    border-radius: 20px;
}

/* ===== section-skills ===== */
#skills {
    display: grid;
    width: min(1170px, 90%);
    height: 763px;
    margin: 0 auto;
    align-items: center;
    padding: 2em 0;
}

.skills-cntainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
}

.skills-content {
    background-color: var(--sidebar-color);
    padding: 6em 1em 1em;
    position: relative;
    box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 25%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.web-img {
    width: 166px;
    position: absolute;
    inset: -50% auto auto 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
}

.web-img img {
    width: 100%;
}

#skills h3 {
    margin-top: 1rem;
    text-align: center;
    color: var(--h1-title);
    letter-spacing: 5px;
    filter: drop-shadow(1px 2px 1px #FC490B);
    font-weight: 1000;
}

#skills .css h3 {
    filter: drop-shadow(1px 2px 1px #2196F3);
}

#skills .js h3 {
    filter: drop-shadow(1px 2px 1px #FFDF00);
}

.progress {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

.progress .line-progress {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.15),
        -6px -6px 10px -1px var(--body-color);
}

.progress .line-progress .line-progress_2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
    box-shadow: inset 4px 4px 6px -1px rgb(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px var(--body-color),
        -0.5px -0.5px 0px var(--body-color),
        0.5px 0.5px 0px rgb(0, 0, 0, 0.15),
        0px 12px 10px -10px rgb(0, 0, 0, 0.05);
}

/* svg-progress */
svg {
    position: absolute;
    inset: 0 auto auto 0;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    stroke-width: 20px;
}

@keyframes animate-2 {
    100% {
        stroke-dashoffset: 80;
    }
}

.css circle {
    stroke: url(#GradientColor-2);
}

@keyframes animate-3 {
    100% {
        stroke-dashoffset: 100;
    }
}

.js circle {
    stroke: url(#GradientColor-3);
}

@keyframes animate-4 {
    100% {
        stroke-dashoffset: 250;
    }
}

/* ===== Services ===== */
#services {
    width: min(1170px, 90%);
    height: 763px;
    margin: 0 auto;
    padding-top: 2em;
    display: grid;
}

.ser-container {
    display: flex;
    justify-content: space-between;
}

.ser-content {
    width: 45%;
    background-color: var(--sidebar-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 25%);
    padding: 0 3.5em;
    height: 300px;
}

.ser-image {
    transform: translatey(-40%);
    text-align: center;
}

.ser-image img {
    width: 300px;
}

.ser-content h2 {
    font-size: clamp(25px, 3.5vw, 36px);
    color: var(--h1-title);
}

/* ===== contact ===== */
#contact {
    width: min(1170px, 90%);
    height: 763px;
    margin: 0 auto;
    padding-top: 2em;
    overflow-x: hidden;
}

.contact-container {
    display: grid;
    grid-template-areas:
        "two two two two"
        "three three three three";
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0;
    grid-row-gap: 60px;
    margin-top: 8em;
}

.two {
    grid-area: two;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
}

.three {
    grid-area: three;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--h1-title);
}

.contact-content img {
    width: 350px;
}

/* btns-social */
.icon-social {
    background-color: var(--sidebar-color);
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, 0.1);
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
}

.icon-social:hover {
    width: 360px;
}

.icon-c {
    width: 100px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.icon-social:hover .icon-c {
    background-color: #B1001A;
}

.icon-social:hover .git {
    background-color: #4078c0;
}

.icon-social:hover .codepen {
    background-color: #6261D0;
}

.icon-c i {
    line-height: 100px;
    font-size: 50px;
    color: var(--text-color);
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.icon-social:hover .icon-c i {
    color: var(--sidebar-color);
}

.icon-social:hover span {
    color: #B1001A;
}

.icon-social-git:hover span {
    color: #4078c0;
}

.icon-social-codepen:hover span {
    color: #6261D0;
}

.icon-social span {
    font-size: 45px;
    font-weight: 500;
    margin-left: 10px;
    line-height: 100px;
    transition: var(--tran-03);
}

.three img {
    width: 100px;
}

.three p {
    width: 295px;
    font-size: clamp(22px, 3vw, 30px);
    font-weight: 600;
    margin-left: 10px
}

/* ===== footer ===== */
footer {
    background-color: var(--sidebar-color);
    padding: 40px 0;
}

.footer-container {
    width: min(1170px, 90%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: var(--h1-title);
    font-size: clamp(18px, 3vw, 20px);
    font-weight: 500;
    padding: 0 2rem;
    flex-wrap: wrap;
}

.footer-icons ul {
    display: flex;
    margin: 2.5em 0;
    width: 200px;
    justify-content: space-between;
}

.footer-icons ul li i {
    color: var(--h1-title);
    font-size: 45px;
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.footer-icons ul li i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.footer-links ul li {
    margin-top: 10px;
    position: relative;
    transition: var(--tran-04);
    -webkit-transition: var(--tran-04);
    -moz-transition: var(--tran-04);
    -ms-transition: var(--tran-04);
    -o-transition: var(--tran-04);
}

.footer-links ul li:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.footer-links ul li::after {
    content: "";
    position: absolute;
    inset: auto auto -2px 0;
    background-color: var(--primary-color);
    width: 0;
    height: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--tran-04);
    -webkit-transition: var(--tran-04);
    -moz-transition: var(--tran-04);
    -ms-transition: var(--tran-04);
    -o-transition: var(--tran-04);
}

.footer-links ul li:hover::after {
    width: 100%;
}

.footer-links ul li a {
    color: var(--text-color);
}

/* whatsapp-btn */
.whatsapp-btn {
    position: fixed;
    inset: auto 1.5em 1.5em auto;
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--primary-color-light);
    font-size: 2.5em;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
    z-index: 99999;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

.whatsapp-btn.show {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.whatsapp-btn::before {
    content: " my whatsapp";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: small;
    width: 100px;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    pointer-events: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    opacity: 0;
    visibility: hidden;
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
    border: 2px solid #00A884;
}

.whatsapp-btn:hover::before {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.whatsapp-btn:hover {
    background-color: #00A884;
}